@model Education_Portal.Models.Category

@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card col-md-6 mx-auto">
    <div class="card-header">
        <h4>Yeni Kategori Ekle</h4>
    </div>
    <div class="card-body">
        <form asp-action="Add" asp-controller="Category" method="post">

            <div class="mb-3">
                <label>Kategori Adı</label>
                <input type="text" name="Name" class="form-control" required />
            </div>

            <div class="d-flex justify-content-between">
                <a href="/Category/Index" class="btn btn-secondary">İptal</a>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </div>

        </form>
    </div>
</div>