@model Education_Portal.Models.Category

@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card col-md-6 mx-auto">
    <div class="card-header">
        <h4>Kategori Güncelle</h4>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="Category" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label>Kategori Adı</label>
                <input type="text" asp-for="Name" class="form-control" required />
            </div>

            <div class="d-flex justify-content-between">
                <a href="/Category/Index" class="btn btn-secondary">İptal</a>
                <button type="submit" class="btn btn-warning">Güncelle</button>
            </div>

        </form>
    </div>
</div>